@model DataLibrary.Models.CharacterModel

@{
    ViewBag.Title = "CharacterCreation";
} 

<form class="form-add-chara" asp-action="CreateCharacter" method="post">
    <label for="Name">Name</label>
    <input type="text" name="Name" />

    <label for="Rarity">Rarity</label>
    <input type="text" name="Rarity" />

    <label for="Birthday">Birthday</label>
    <input type="text" name="Birthday" />

    <label for="Allegiance">Allegiance</label>
    <input type="text" name="Allegiance" />

    <label for="Element">Element</label>
    <input type="text" name="Element" />

    <label for="Image">Image</label>
    <input type="text" name="image" />

    <label for="Description">Description</label>
    <input type="text" name="Description" />

    <input type="submit" name="submit" />
</form>