@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Welcome to Genshin Impact fansite</h2>

    <table class="lightbox_table">
        <tr>
            @{
                foreach (var images in ViewBag.genshinImages)
                {
                    <td class="lightbox_image"><a href="@Url.Content(@images)" data-lightbox="roadtrip"><img src="@Url.Content(@images)"></a></td>
                }
            }
        </tr>
    </table>
</div>
