/* Navigation item */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.navbar-brand img {
    height: 80px;
    width: auto;
}

.nav-item:hover {
    text-decoration: underline;
}

.nav-item {
    font-size: 18px;
    font-weight: 700;
}

.navbar {
    position: fixed;
    z-index: 9;
    width: 100%;
    background-color: #00000052;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}


/* index page wrapper
 --------------------------------------------------*/
.front_part {
    background-image: url(../Images/front_part_wallpaper.jpg);
    height: 1080px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.paimon_img {
    height: 60%;
    align-items: center;
}

.front_part_item {
    width: 30%;
    margin: -15px 0 0 55%;
    text-align: initial;
    font-size: 23px;
    font-weight: 700;
}

.front_part_quote_1 {
    color: white;
}

.front_part_quote_2 {
    font-size: 33px;
    padding-left: 56px;
}

.orange_text {
    color: coral;
}

.front_part_quote_3 {
    font-size: 33px;
    padding-left: 16px;
}

.front_part_quote_capital_letter {
    color: aquamarine;
    font-size: 30px;
    font-weight: bolder;
}

.front_part_welcome_text {
    padding-top: 60%;
    color: white;
}

.image_part {
    border: #bd804f91 12px;
    border-style: double;
    padding: 10px 0;
    margin: 10px;
}

.image_part_text {
    font-size: 40px;
    background-color: #d9b79bdb;
    border-radius: 0 49px;
    width: 63%;
    margin: 10px auto;
    color: #fdfdfd;
    padding-top: 5px;
    font-family: fangsong;
}

/* Newly released character
---------------------------------------------------*/
.newly_released_char_part {
    background-image: url(../Images/Genshin-Impact-Wallpapers.png);
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
}

    .newly_released_char_part h1 {
        padding-bottom: 50px;
        padding-top: 36px;
    }

.newly_released_char_table {
    margin: auto;
    max-width:50%;
}

.newly_released_char_table_row {
    background-color: rgb(0 0 0 / 40%);
    vertical-align: top;
    height: 337px;
}

.newly_released_char_images {
    width: 10%;
    float: left;
}

    .newly_released_char_images img {
        height: auto;
        max-width: 180px;
        border: solid;
        color: #ff00003d;
        margin-top: 7px;
    }

.newly_released_char_text_wrap {
    width: 40%;
    text-align: left;
    margin-left: 4%;
}

    .newly_released_char_text_wrap span {
        font-size: 21px;
        font-weight: 600;
    }

/* History part
-------------------------------------------------- */
.genshin_history_part {
    display: table;
    background: #e7f4ffad;
}

.history_left_section {
    float: left;
    display: table-cell;
    text-align: left;
    width: 40%;
    margin-left: 9%;
    padding: 10% 0;
}

    .history_left_section h2 {
        color: aqua;
        font-weight: 700;
        text-shadow: 1px 1px #0014ff;
        margin-bottom: 20px;
    }

.history_right_section{
    float: left;
    display: table-cell;
}

    .history_right_section img {
        height: 550px;
        width: auto;
        margin-top: 10%;
        margin-left: 21%;
    }

/* Character List
-------------------------------------------------- */
.character-list-wrap {
    padding-top: 10%;
    padding-bottom: 3%;
    background-image: url(../Images/InazumaWallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
    background-attachment: fixed;
    min-height: 100vh;
}

.character-list-table {
    width: 50%;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }

    nav {
        position: fixed;
        z-index: 9;
        width: 100%;
    }

    .lightbox_table img {
        width: auto;
        max-height: 150px;
    }

    .lightbox_table {
        margin: auto;
    }
}




.wrapper {
    position: relative;
}


.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Add character page
-------------------------------------------------- */

.wrap-add-character-form {
    padding-top: 10%;
    padding-bottom: 3%;
    background-image: url(../Images/front_part_wallpaper.jpg);
}

    .wrap-add-character-form h1 {
        width: 50%;
        margin: auto;
        padding-top: 15px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }

.background-transparent-black {
    background-color: #00000045;
}

.form-add-chara {
    width: 50%;
    margin: auto;
    display: block;
    padding: 45px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    margin: 0;
}

body {
    /* Margin bottom by footer height */
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    height: 100%;
    width: 100%;
}

.footer {
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    opacity: 90%;
    text-align: center;
}


/* Width max 1150px
----------------------------------------------- */

@media(max-width:1150px){
    body, html {
        max-width: 100%;
        overflow-x: hidden;
    }

    .front_part{

    }

    .front_part_welcome_text, .front_part_quote_2, .front_part_quote_3{
        font-size: 18px;
    }

    .front_part_quote_capital_letter{
        font-size: 20px;
    }

    .lightbox_table img {
        width: auto;
        max-height: 100px;
    }

    .lightbox_table tr{
        width:100%;
    }

    .lightbox_table{
        margin:auto;
    }

}

@media(max-width:770px) {


    body, html {
        max-width: 100%;
        overflow-x: hidden;
    }

    .lightbox_table img {
        width: auto;
        max-height: 50px;
    }

    .newly_released_char_table {
        margin: auto;
        max-width: 80%;
    }

    .front_part_welcome_text {
        padding-top: 150%;
    }

    /* Newly released characters
    ----------------------------------------------------*/

    .newly_released_char_text_wrap {
        width: 100%;
        margin-left: 0;
    }

        .newly_released_char_text_wrap span {
            font-size: 15px;
        }


    .form-add-chara {
        width: 100%;
    }

    .wrap-add-character-form h1 {
        width: 100%;
    }
}
@media(max-width:510px){

    .lightbox_table img {
        width: auto;
        max-height: 30px;
    }
}

/* Quiz Game
-------------------------------------------------*/
.ul-left {
    float: left;
    width: 45%;
}

.ul-right {
    float: left;
    width: 45%;
}


#submit {
    width: 20%;
    height: 40px;
    float: none;
    background-color: #00bd6b;
    color: #ffffff;
    float: right;
    margin-right: 10%;
    font-size: 17px;
    font-weight: 700;
}


.ul-container {
    text-align: center;
}

    .ul-container li {
        margin-top: 10px;
    }

/* Loader for the page
-----------------------------------------------*/
.loader_bg {
    position: fixed;
    z-index: 999999;
    background: white;
    width: 100%;
    height: 110%;
}
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #90ffeb;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin: 20% auto;
}


@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}